.title {
    text-align: center;
    font-size: xx-large;
    color: red;
}
* {
    background-color: black;
    color: green;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
p {
    text-align: center;
    font-size:larger;
}